body,h1,h2,h3,ul,li,p{
    padding:0;
    margin:0;
    font:14px/1.5 宋体,sans-serif;
    font-weight: bolder;
    color: #707070;
}
#list{
    margin-bottom: 10px;
    border:1px solid #c9c9c9;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    position: relative;
    opacity:1;
}
#list:after{
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
    height:0;
    margin-top: 10px;
}

.imgBox{
    padding:4px;
    width:30%;
    height:148px;
    float: left;
    overflow: hidden;
    font-size: 0;
    position: relative;
    line-height: 145px;
}
.imgBox img{
    vertical-align: middle;
    width:100%;
    max-height: 148px;
}
.description{
    padding-top: 5px;
    width:60%;
    padding-left: 12px;
    white-space: nowrap;
    overflow: hidden;
}

.description h1{
    margin-bottom: 6px;
}

.description span{
    margin-bottom: 5px;
    margin-right: 5px;
}

.description p{
    margin-bottom: 5px;
    clear: both;
}

span.book-span{
    display: block;
    float: left;
    text-indent: 3px;
    letter-spacing: 3px;
    padding:0;
    background-color: #e8d806;
    color: #ffffff;
}

span.movie-span{
    display: block;
    float: left;
    text-indent: 3px;
    letter-spacing: 3px;
    padding:0;
    background-color: #1dd6e8;
    color: #ffffff;
}

span.music-span{
    display: block;
    float: left;
    text-indent: 3px;
    letter-spacing: 3px;
    padding:0;
    background-color: #2ec769;
    color: #ffffff;
}



