div.head{
    box-sizing: border-box;
    padding: 4px;
    border-bottom: 1px solid #ababab;
    overflow: hidden;
}

div.head:after{
    content: '';
    display: block;
    clear: both;
    height:0;
    visibility: hidden;
}

div.head img{
    display: block;
    float: left;
    width:40%;
}
div.head .headImfo{
    float: right;
    width:58%;
}

div.head div.headImfo p{
    white-space: nowrap;
    text-overflow : ellipsis;
    font-family: 宋体,华文中宋,sans-serif;
    padding-bottom: 5px;
}

div.content{
    width: 90%;
    margin:15px auto 60px;
    color: #353535;
}

div.content p{
    text-indent: 2em;
    font-size: 14px;
    font-family: 宋体,华文中宋,sans-serif;
    padding-bottom: 20px;
    font-weight: normal;
}

div.content h3{
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 黑体,sans-serif;
}


