@font-face{
    font-family: 'iconfont';  /* project id 638204 */
    src: url('//at.alicdn.com/t/font_638204_4gd6lxwuu5scq5mi.eot');
    src: url('//at.alicdn.com/t/font_638204_4gd6lxwuu5scq5mi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_638204_4gd6lxwuu5scq5mi.woff') format('woff'),
    url('//at.alicdn.com/t/font_638204_4gd6lxwuu5scq5mi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_638204_4gd6lxwuu5scq5mi.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 40px !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    pointer-events: none;
}

#footBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    text-align: center;
    background-color: #ffffff;
}
.stopPointer{
    pointer-events: none;
}
#footBar span {
    display: inline-block;
    width: 33%;
    height: 100%;
    line-height:0.9;
    padding-top: 6px;
    color: #626262;
    padding-bottom: 4px;
}

.selected i{
    color: #00b9cc;
}

#footBar .selected span{
    color: #00b9cc;
}
